/*Header.jsx css*/
.navbar {
    height: 70px; /* 기본보다 더 크게 설정 */
    min-height: 70px;
    padding: 10px 15px;
}

.navbar .brand {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar .brand .logo {
    max-height: 50px; /* 로고 크기 조정 */
}


.fa-icon {
    font-size: 16px;
    margin-right: 6px;
    vertical-align: middle;
    line-height: 1;
    display: inline-block;
    color: #777;
}

/* 로그아웃 버튼 스타일 */
.btn-logout {
    padding: 10px 20px;
    background-color: #e74c3c !important;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 38px;
}

.btn-logout:hover {
    background-color: #c0392b !important;
    color: white;
}

.btn-logout i {
    margin-right: 8px;
}

.main {
    min-height: 700px;
}




/* sidebar.css */
/* 기본 상태: 사이드바가 펼쳐짐 */
.main {
    margin-left: 250px;  /* 사이드바 너비만큼 공간을 확보 */
    transition: margin-left 0.3s ease;
}

/* 사이드바가 접힌 상태 */
.main.expanded {
    margin-left: 0;  /* 사이드바가 접혔을 때는 여백을 없애 콘텐츠가 확장됨 */
}



