/*Header.jsx css*/
.navbar {
    height: 70px; /* 기본보다 더 크게 설정 */
    min-height: 70px;
    padding: 10px 15px;
}

.navbar .brand {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar .brand .logo {
    max-height: 50px; /* 로고 크기 조정 */
}


.fa-icon {
    font-size: 16px;
    margin-right: 6px;
    vertical-align: middle;
    line-height: 1;
    display: inline-block;
    color: #777;
}

/* 로그아웃 버튼 스타일 */
.btn-logout {
    padding: 10px 20px;
    background-color: #e74c3c !important;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 38px;
}

.btn-logout:hover {
    background-color: #c0392b !important;
    color: white;
}

.btn-logout i {
    margin-right: 8px;
}

.main {
    min-height: 700px;
}




/* sidebar.css */
/* 기본 상태 사이드바 */
.sidebar {
    width: 250px;
    transition: width 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}

/* 사이드바 접혔을 때 */
.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

.sidebar .nav {
    visibility: visible;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.sidebar.collapsed .nav {
    visibility: hidden;
    opacity: 0;
}


